.playground {
  #jsr-editor > div {
    height: 400px;
  }
  .query {
    padding-left: 0;
    padding-right: 0;
    .input-query {
      resize: none;
      border-radius: 0;
      height: 250px;
    }
  }
  .result {
    .result-content {
      border: solid 1px #ddd;
      height: 200px;
    }
  }
}
